.font-16{
	font-size:16px;
}
.font-18{
	font-size:18px;
}

.font-20{
	font-size:20px;
}
.font-22{
	font-size:22px;
}
.padding-tb-xs{
    padding: 10px 0;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.cursor{
	cursor: pointer;
}
input[type="checkbox"] {
	margin: 0 5px 0 0;
}
input[type="radio"] {
	margin: 0 5px 0 0;
}